.scatter-middle-view {
    overflow-y: scroll;
    height: 700px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.scatter-left-view{
    width: 60%;
    display: inline-block;
}

.scatter-right-view {
    overflow-y: scroll;
    height: 700px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

circle.selected{
    stroke: black;
}

.userbox{
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin: 2px;
    
}
.userbox.correct{
    background-color: rgb(168, 221, 168);
}
.userbox.incorrect{
    background-color: rgb(226, 165, 165);
}
.userbox:hover{
    background-color: antiquewhite;
}

.error-type{
    font-size: 150%;
}